.hover-success:hover li {
  background-color: #608f7d;
  color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.text-black {
  color: #000 !important;
}

.principal-color {
  color: #608f7d;
}

.custom-btn {
  background-color: #608f7d;
  border-color: #1f4134;
}

.custom-btn:hover {
  background-color: #1f4134;
  border-color: #1f4134;
}

.color-inactivo {
  color: #dc3545;
}

.color-activo {
  color: #608f7d;
}

.color-activo-txt {
  background-color: #608f7d;
}

.color-white {
  color: white;
}

.hidden {
  display: none;
}
.filtro {
  display: none;
}

.border-bottom-green {
  border-bottom: 2px solid #608f7d;
}

.pagination .page-link {
  color: #608f7d;
}

.pagination .page-item.active .page-link {
  background-color: #608f7d;
  border-color: #608f7d;
  color: white;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
}

.pagination .page-link:hover {
  color: #1f4134;
  background-color: #e9ecef;
  border-color: #608f7d;
}

.facil {
  color: #fff;
  background-color: #608f7d;
}

.dificil {
  color: #fff;
  background-color: #dc3545;
}

.btn-facil,
.btn-dificil {
  margin: 0 5px;
}

.btn-facil {
  color: #608f7d;
  border: 2px solid #608f7d;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.btn-dificil {
  color: #dc3545;
  border: 2px solid #dc3545;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.btn-facil:hover,
.facil {
  background-color: #608f7d;
  color: #fff;
}

.btn-dificil:hover,
.dificil {
  background-color: #dc3545;
  color: #fff;
}
