.hover-success:hover li {
  background-color: #608f7d;
  color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.text-black {
  color: #000 !important;
}

.principal-color {
  color: #608f7d;
}

.custom-btn {
  background-color: #608f7d;
  border-color: #1f4134;
}

.custom-btn:hover {
  background-color: #1f4134;
  border-color: #1f4134;
}

.color-inactivo {
  color: #dc3545;
}

.color-activo {
  color: #608f7d;
}

.color-activo-txt {
  background-color: #608f7d;
}

.color-white {
  color: white;
}

.hidden {
  display: none;
}
.filtro {
  display: none;
}

.border-bottom-green {
  border-bottom: 2px solid #608f7d;
}

.pagination .page-link {
  color: #608f7d;
}

.pagination .page-item.active .page-link {
  background-color: #608f7d;
  border-color: #608f7d;
  color: white;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
}

.pagination .page-link:hover {
  color: #1f4134;
  background-color: #e9ecef;
  border-color: #608f7d;
}
